<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css">

#content #vanimg {
	text-align:center;
	height:300px;
}
#form1 {
	float:left;
}

#addressbox {
	margin-left:50px auto;
	padding:30px;

}

</style>
<%header%>

<p>&nbsp;</p>
            <p align="justify"><font size="3" face="Geneva, Arial, Helvetica, sans-serif">Email: 
              <a href="mailto:enquiries@mobilitysupplies.com"><strong><%contactemail%></strong></a> 
              </font></p>
            <p><font size="+2" face="Geneva, Arial, Helvetica, sans-serif">Telephone: 
              <strong><%contacttelephone1%></strong></font></p>
            <p><font size="+2" face="Geneva, Arial, Helvetica, sans-serif">Fax: 
              <strong><%contacttelephone2%></strong></font></p>


	<form action="/cgi-bin/mailform.pl" method="post" name="form1" id="form1">
                    <input type="hidden" name="subject" value="Website Enquire " />
                    <input type="hidden" name="recipient" value="enquiries@mobilitysupplies.com" />
                    <input type="hidden" name="redirect" value="http://www.mobilitysupplies.com/content.php?template=templates/thankyou.html" />
                    <table width="300" border="0" cellspacing="0" cellpadding="0">
                      <tr bgcolor="#000084"> 
                        <td colspan="2"><div align="center"><font color="#FFFFFF" face="Geneva, Arial, Helvetica, sans-serif"><strong>Contact Form</strong></font></div></td>
                      </tr>
                      <tr> 
                        <td width="170"><font size="-1" face="Geneva, Arial, Helvetica, sans-serif">Contact 
                          Name</font></td>
                        <td width="230"><input name="contactname" type="text" id="contactname" /></td>
                      </tr>
                      <tr> 
                        <td> <font size="-1" face="Geneva, Arial, Helvetica, sans-serif">Email 
                          Address</font></td>
                        <td><input name="email" type="text" id="email" /></td>
                      </tr>
                      <tr> 
                        <td><font size="-1" face="Geneva, Arial, Helvetica, sans-serif">Telephone 
                          No.</font></td>
                        <td><input name="telephone" type="text" id="telephone" /></td>
                      </tr>
                      <tr> 
                        <td><font size="-1" face="Geneva, Arial, Helvetica, sans-serif">Comments</font></td>
                        <td><textarea name="comments" rows="7" cols="25" id="comments"></textarea></td>
                      </tr>
                      <tr> 
                        <td>&nbsp;</td>
                        <td><div align="right"> 
                            <input type="submit" name="Submit" value="Submit" />
                          </div></td>
                      </tr>
                    </table>
                    <p>&nbsp;</p>
                  </form>

		  <div id="addressbox" />
			<%contactcompany%><br/>
			<%contactaddress1%><br/>
			<%contacttown%><br/>
			<%contactpostcode%>
		  </div> <!-- address -->
		<div style="clear:both"></div>

<%footer%>
