<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css">

#content #vanimg {
	text-align:center;
	height:300px;
}
</style>
<%header%>

                    <p>&nbsp; </p>
                    <p><a href="http://www.arthritiscare.org.uk/ " target="_blank">www.arthritiscare.org.uk</a> 
                    </p>
                    <p><a href="http://www.flying-with-disability.org" target="_blank">www.flying-with-disability.org</a> 
                    </p>
                    <p><a href="http://www.disabledholidaydirectory.co.uk" target="_blank">www.disabledholidaydirectory.co.uk</a> 
                    </p>
                    <p><a href="http://www.dlf.org.uk" target="_blank">www.dlf.org.uk</a></p>
                    <p>&nbsp;</p>
		<p><a href="http://www.seniorsdiscounts.co.uk"><img src="http://www.seniorsdiscounts.co.uk/images/stories/images/welcome100.gif" alt="Seniors Discounts Welcome Here" /></a></p>
                    <p>&nbsp;</p>
<p>

<form name="link" method="post" action="/cgi-bin/mailform.pl" id="link">

If you wish your site to be considered for inclusion on this page, please complete the following form. 
        	            <input type="hidden" name="subject" value="Please add my link" />
                	    <input type="hidden" name="recipient" value="info@mobilitysupplies.com" />
                    	    <input type="hidden" name="redirect" value="http://www.mobilitysupplies.com" />

                   	    <table width="400" border="0" cellspacing="0" cellpadding="0">
                      	    <tr bgcolor="#000084"> 
                        <td colspan="2"><div align="center"><font color="#FFFFFF" face="Geneva, Arial, Helvetica, sans-serif"><strong>Customer 
                            Enquiry Form</strong></font></div></td>
                   </tr>
                   <tr> 
                        <td width="170"><font size="-1" face="Geneva, Arial, Helvetica, sans-serif">Contact 
                          Name</font></td>
                        <td width="230"><input name="contactname" type="text" id="contactname" /></td>
                   </tr>
                   <tr> 
                        <td> <font size="-1" face="Geneva, Arial, Helvetica, sans-serif">Email 
                          Address</font></td>
                        <td><input name="email" type="text" id="email" /></td>
                   </tr>
                   <tr> 
                        <td><font size="-1" face="Geneva, Arial, Helvetica, sans-serif">Telephone 
                          No.</font></td>
                        <td><input name="telephone" type="text" id="telephone" /></td>
                   </tr>
                   <tr> 
                        <td><font size="-1" face="Geneva, Arial, Helvetica, sans-serif">Description</font></td>
                        <td><textarea name="description" id="description"></textarea></td>
                   </tr>
                   <tr> 
                        <td><font size="-1" face="Geneva, Arial, Helvetica, sans-serif">URL</font></td>
                        <td><input name="url" type="text" id="url" /></td>
                   </tr>
                   <tr> 
                        <td>&nbsp;</td>
                        <td align="right" > 
                            <input type="submit" name="Submit" value="Submit" />
                        </td>
                   </tr>

                </table>

                </form>
</p>


<%footer%>
