<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<script type="text/javascript"><!--//--><![CDATA[//><!--


//--><!]]></script>

<title>Garage Door - <%pagetitle%> supplied by Dynasty Doors Direct</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Description" content="Garage Door <%pagetitle%> supplied by Dynasty Doors Direct,  part of the Dynasty Doors group provides an online method of buying your Garage Door direct from a company with a well established reputation for providing excellent service and comittment to Customer Satisfaction." />
<link href="../styles/style-scr.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#cmiddle {
	color:black;
}

#cmiddle p {
	margin:10px;
	text-align:justify;
}
-->
</style>
</head>
<body>
<div id="header">
	<img src="../images/logo.png" alt="Dynasty Doors Direct" /><h1>Dynasty Doors Direct</h1><div id="menuouter">	  
    <%menu%>
  </div>  <!-- menu outer -->
</div> <!-- header -->

<div id="content">
	<div id="contentbody" >
		<%sidemenu%>
		<div id="contenttopright" style="text-align:left;" >
                <div id="contenttop" style="text-align:center;">
                <div id="nav1"><div style="float:left;display:inline;"> <a href="javascript:history.go(-1)">Go Back | </a></div>You are here : <%category_parentnav%> <%category_header%> </div>

                </div> <!-- content top -->
                <div id="productlist" style="font-size:70%;" >
					<div id="categorytext"><%categorytext_1%></div> <!-- categorytext 1-->
					<br/>
                    


				</div> <!-- productlist -->

		</div> <!-- contenttopright -->

		<div style="clear:both"><p><br/></p></div>

		<div id="contentbottom">
			<div id="ctop"><br/></div>
			<div id="cmiddle" style="text-align:center;margin-right:10px;" >
					<br/>
					<%categorytext_3%>
	     			<ul id="childlist"><%childlist%></ul> <!-- childlist -->  
					<br/>					
					<div style="clear:both;" >
					
					<%categorytext_2%></div> <!-- categorytext 2-->
					
					
			</div> <!-- cmiddle -->
			<div id="cbottom"><br/>
				<!-- filler to put round edges on box -->
			</div> <!-- cbottom -->	

		</div> <!-- content bottom -->
	</div> <!-- contentbody -->
	<%footermenu%>

</div> <!-- content -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-203230-2");
pageTracker._trackPageview();
</script>
</body>
</html>
