<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="enGB" lang="en">
<head>

<%header%>
</head><h1>Sorry - Your payment was not succesfull</h1>
<p>
Your payment has not been successfull this could be for a number of reasons<br/><br/>

Please check your details and try again.<br/><br/>

Thank you

</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


<%footer%>
</html>