<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<script language="javascript">

function payevent(eventdateid, amount,title,id ) {

document.getElementById('eventdateid').value=eventdateid;
document.getElementById('description').value=title;
document.getElementById('qty').value=document.getElementById('qty_'+id).value;
document.getElementById('price').value=amount;

document.getElementById('buildorder').submit();

}
</script>

<head>
<%header%>
    </head>
    <p class="back"><a href="javascript:history.go(-1)"><<< Back</a></p>


<!-- showevent -->
    <h1><%eventtitle%></h1>
	<p><%eventlocation%> <a href="http://www.multimap.com/maps/?qs=<%eventpostcode%>" target="_blank()"><%eventpostcode%></a></p>
	<table id="eventstable">
        <th>From</th><th>To</th><th>Cost</th><th><!-- No. of Attendees --></th><th></th>
	<%p_eventdatelist%></table>
    <p>
       <%eventdescription%>
    </p>



    <div id="sendmessage"> 
      <form action="" enctype="multipart/form-data" id="sendmessagef" title="Send a message" >
        <fieldset>
        <legend>Send A Message</legend>
        <input type="hidden" name="action" value="sendmessage" />
        <input type="hidden" name="mcontactid" value="<%p_contactid%>" />
				<p>
					<label for="fromname">From Name:</label>
					<input type="text" name="fromname" id="fromname" value="<%contactfirstname%> <%contactlastname%>" size="40" />
				</p>
        <p>
					<label for="fromemail">From Email:</label>
					<input type="text" name="fromemail" id="fromemail" value="<%contactemail%>" size="40" /></p>
        <p>
					<label for="fromtelephone">From Telephone:</label>
					<input type="text" name="fromtelephone" id="fromtelephone" value="<%contacttelephone1%>" size="40" /></p>
        <p>
					<label for="subject">Subject:</label>
	        <input type="text" name="subject" id="subject" value="" size="40" /></p>
        <p>
					<label for="message">Message</label>
	        <textarea name="message" id="message" cols="30" ></textarea></p>
        <p><label>Please enter the security code:<br/>
	        <img id="rcode" src="code.php?code=abcde" alt="code" /></label>
  	      <script type="text/JavaScript">
<!--
	var im1 = document.getElementById("rcode");
	var cdes = "abcdefghijklmnopqrstuvwxwzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890";
	var fcode = cdes.substr( Math.random()* cdes.length, 1)+cdes.substr( Math.random()* cdes.length, 1)+cdes.substr( Math.random()* cdes.length, 1)+cdes.substr( Math.random()* cdes.length, 1);
	im1.src="code.php?code="+fcode;
//-->
</script>
	        <input type="text" name="seccode" id="seccode" size="4" value="" /></p>
        <p>
					<label for id="submit"></label>
	        <input type="button" value="Send Message" onclick="validate();"  /></p>
        </fieldset>
      </form>
	  
	  
	<form id="buildorder" action="content.php?template=templates/sageform.html" enctype="multipart/form-data" method="post" title="Sage Form Processor">
   		<input type="hidden" id="paytype" name="paytype" value="E" />
		<input type="hidden" id="eventdateid" name="eventdateid" value="" />
		<input type="hidden" id="contactid" name="contactid" value="<%p_contactid%>" />
		<input type="hidden" id="description" name="description" value="" />
	     	<input type="hidden" id="qty" name="qty" value="1" />
		<input type="hidden" id="price" name="price" value="0" />
		<input type="hidden" id="tax" name="tax" value="0" />
		<input type="hidden" id="action" name="action" value="sagepay" />
	</form>

    <table id="profiletable">
      <tr> 
        <td> 
          <%p_contact_mediaimg[0]%>
        </td>
        <td> 
          <%p_contactcompany%>
          <br/> 
          <%p_contactaddress1%>
          <br/> 
          <br/> 
          <%p_contacttelephone1%>
          <br/> 
          <%p_contacthyperlink%>
          <br/> </td>
      </tr>
    </table>

    </div>
<%footer%>
</html>